<h4 class="display-5 text-center">Liste des contrats</h4><hr>
<table class="table table-hover">
  <thead class="thead-light">
    <th>ID</th>
    <th>Client</th>
    <th>Client-final-ID</th>
    <th>Description</th>
    <th>PU</th>
    <th>D.Début </th>
    <th>D.Fin</th>   
    <th>
      <a  class="btn btn-outline-success" routerLink="/contrat"><i class="fa fa-plus-square"></i> Ajouter Contrat</a>
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let i of contratList">
      <th (click)="openOrEdit(i.contrat_id)">{{i.contrat_id}} </th>
      <td>{{i.client_nom}} </td>
      <td *ngIf="i.final_client_id == null">------</td>
     <td *ngIf="i.final_client_id != null" >{{i.final_client_id}} </td>
      <td>{{i.description}} </td>
     <td>{{i.prix_unitaire}} </td>
     
      <td>{{i.date_debut | date: 'dd/MM/yyyy'}} </td>
      <td>{{i.date_fin | date: 'dd/MM/yyyy'}} </td>
    
      <td></td>
    </tr>
  </tbody>
</table>
